$text-color: #414141;
$white: #fff;
$black: #000;
$red-notification: #D74444;
$red-text: #E92D2D;
$gray: #313131;
$gray-border: #E6E6E6;
$back-button: #9D9D9D47;
$gray-title: #3C3C3C;
$gray-text: #343434;
$light-gray-text: #C4C4C4;
$dark-green: #245462;
$input-gray: #F9F9F9;
$light-blue-bg: #D7E8ED;
$about-us-text: #686868;